// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores basados en el logo
$logo-blanco-roto: #e2d9d8;
$logo-rojo: #d12824;
$logo-negro: #212121;
$logo-gris-oscuro: #3b3c3c;
$logo-gris-medio: #707070;

// Colores
$azul: #0da6f3;
$rojo: #991b1b;
$verde: #329f00;
$negro: #212121;
$naranja: #d97706;

$blanco: #e2d9d8;
$gris: #e1e1e1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900