@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-app {
	@include m.tablet {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		min-height: 100vh;
	}

	.imagen {
		height: 20rem;
		background-image: url("../img/logo.avif");
		background-size: cover;
		background-position: center center;

		@include m.tablet {
			height: auto;
		}
	}

	.app {
		width: 95%;
		margin: 0 auto;
		padding: 3rem 0;

		@include m.tablet {
			overflow: scroll;

			// Ocultar barra inferior
			overflow-x: hidden;

			// estilos a la barra lateal
			&::-webkit-scrollbar {
				width: 0.9rem;
			}

			// estilos a la barra
			&::-webkit-scrollbar-thumb {
				background-color: v.$logo-rojo;
				border-radius: 5px;
			}
		}
	}
}

.barra {
	margin: v.$separacion 0;

	@include m.tablet {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	p {
		font-weight: v.$regular;

		span {
			font-weight: v.$bold;
		}
	}

	.boton {
		@include m.boton(v.$negro, v.$blanco);

		& {
			margin: 0;
			border-radius: 1rem;
		}
	}
}

.barra-productos {
	margin-bottom: v.$separacion;

	@include m.tablet {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}

	.boton {
		margin: 0 0 1rem 0;
	}
}

.reporte {
	&--acciones {
		display: block;

		@include m.tablet {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-bottom: v.$separacion;
		}
	}
}